
@use '../variables/padding' as *;
@use '../variables/colors' as *;



.buttonMediumBlack{
    width: max-content;
    height: max-content;
    padding: $buttonPaddingmedium2 $buttonPaddingmedium1;
    border: 0;
    background-color: $lightBlack;
    cursor: pointer;
    border-radius: 3px;
    

        &:hover{
            filter: brightness(1.3);
        }
}










