

@use "../variables/colors" as *;



.linkList{
    position: fixed;
    top: 25%;
    right: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
        
        .image{
            width: 48px;
            height: auto;
                &:hover{
                    filter: brightness(1.2);
                }
        }
}











