
@use "../variables/colors" as *;



.mainContainer{
    width: 100%;
    max-width: 1002px;
    min-height: 100vh;
    background-color: $white;

    //padding: 0 3.5rem; //this is not visible in every page
}










