
@use '../variables/transitions' as *;
@use '../variables/padding' as *;
@use '../variables/colors' as *;


.navbar{
    width: 100%;
    height: max-content;
    background-color: $white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $navbarYPadding $sectionPadding;
    
        &.smallNavPadding{
            padding-top: 5px;
            padding-bottom: 5px;
        }
        *{
            transition: $logoTransition;
        }
        
        img{
            width: 76.500px;
            height: auto;
            max-width: 350px;
            max-height: 75px;


            border-radius: 50%;
            border: 1px solid black;
        }
        img.small{
            width: 51px;
            height: auto;
        }

        .links{
            width: max-content;
            height: max-content;
            display: flex;
            gap: 31px;

                span{
                    position: relative;
                    a{
                        text-decoration: none;
                        color: $grey;
    
                            &:hover{
                                color: $lightGrey;
                            }
                    }
                    .dropdown{
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        overflow: hidden;

                        width: max-content;
                        max-height: 0;
                        
                        background-color: orange;
                        transition: $dropdownNavTransition2;
                        
                            a{
                                padding: 10px;
                            }
                    }

                    .visible{
                        max-height: 1000px;
                        transition: $dropdownNavTransition;
                    }
                }
        }
}






