* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
}

html {
  width: 100vw;
  background-color: black;
  overflow-x: hidden;
}
html body {
  background-color: inherit;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.mainContainer {
  width: 100%;
  max-width: 1002px;
  min-height: 100vh;
  background-color: #f2fcfb;
}

.dividerContainer {
  width: 100%;
  padding: 17px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dividerContainer .line {
  width: 100%;
  height: 1px;
  background-color: #d3dbdb;
}

.navbar {
  width: 100%;
  height: max-content;
  background-color: #f2fcfb;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 3.5em;
  transition: all 180ms linear;
}
.navbar.smallNavPadding {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar * {
  transition: all 180ms linear;
}
.navbar img {
  width: 76.5px;
  height: auto;
  max-width: 350px;
  max-height: 75px;
  border-radius: 50%;
  border: 1px solid black;
}
.navbar img.small {
  width: 51px;
  height: auto;
}
.navbar .links {
  width: max-content;
  height: max-content;
  display: flex;
  gap: 31px;
}
.navbar .links span {
  position: relative;
}
.navbar .links span a {
  text-decoration: none;
  color: #888888;
}
.navbar .links span a:hover {
  color: #d3dbdb;
}
.navbar .links span .dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  left: -50%;
  top: 2rem;
  width: max-content;
  max-height: 0;
  background-color: #f2fcfb;
  transition: max-height 3s linear;
}
.navbar .links span .dropdown a {
  padding: 10px 20px;
}
.navbar .links span .visible {
  max-height: 1000px;
  border: 0.5px solid #d3dbdb;
  transition: max-height 5s linear;
}

.sectionContainerPadded {
  width: 100%;
  padding: 0 3.5em;
}

.buttonMediumBlack {
  width: max-content;
  height: max-content;
  padding: 20px 40px;
  border: 0;
  background-color: #383838;
  color: #f2fcfb;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12.88px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  font-weight: 400;
}
.buttonMediumBlack:hover {
  filter: brightness(1.3);
}

.sectionContainerPadded:nth-child(2) {
  padding-top: 3.5em;
}
.sectionContainerPadded img {
  width: 100%;
  height: auto;
}
.sectionContainerPadded h1 {
  font-family: var(--font-luckyGuy);
  text-align: center;
  color: #000000;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 10px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-transform: initial;
  margin: 17px 0;
}

.pinkBox {
  width: 100%;
  height: 439.375px;
  background-color: #e97676;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.pinkBox .paragraph {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 33px;
  font-size: 1.2em;
  color: #f2fcfb;
}
.pinkBox .LocationAndInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  font-size: 1.2em;
  gap: 10px;
}
.pinkBox .LocationAndInfo a {
  color: #055a8b;
  font-weight: bold;
  text-decoration-color: #da4444;
}
.pinkBox .Scocials {
  display: flex;
  gap: 15px;
}
.pinkBox .Scocials img {
  max-width: 21px;
  margin-bottom: 68px;
  cursor: pointer;
}
.pinkBox .Scocials img:hover {
  filter: brightness(50);
}

.dontateContainer {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
}
.dontateContainer section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.dontateContainer section:nth-child(1) {
  background-color: orange;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.dontateContainer section:nth-child(1) a {
  color: #24678d;
  font-size: 24px;
  text-decoration-color: rgba(36, 103, 141, 0.1);
}
.dontateContainer section:nth-child(1) p {
  text-align: center;
  color: #3a5361;
  font-weight: 700;
  font-size: 16.8px;
}
.dontateContainer section:nth-child(1) ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  font-weight: 700;
  font-size: 16.8px;
  color: #888888;
}
.dontateContainer section:nth-child(2) {
  background-color: olive;
}

.sectionDivider {
  border-bottom: 1px solid #d3dbdb;
}