* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
}

html {
  width: 100vw;
  background-color: black;
  overflow-x: hidden;
}
html body {
  background-color: inherit;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.mainContainer {
  width: 100%;
  max-width: 1002px;
  min-height: 100vh;
  background-color: #f2fcfb;
}

.dividerContainer {
  width: 100%;
  padding: 17px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dividerContainer .line {
  width: 100%;
  height: 1px;
  background-color: #d3dbdb;
}

.navbar {
  width: 100%;
  min-height: 75px;
  background-color: #f2fcfb;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 3.5em;
  transition: all 180ms linear;
}
.navbar.smallNavPadding {
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar * {
  transition: all 180ms linear;
}
.navbar img {
  width: 76.5px;
  height: auto;
  max-width: 350px;
  max-height: 75px;
  border-radius: 50%;
  border: 1px solid black;
}
.navbar img.small {
  width: 51px;
  height: auto;
}
.navbar .links {
  width: max-content;
  height: max-content;
  display: flex;
  gap: 31px;
}
.navbar .links span {
  position: relative;
}
.navbar .links span a {
  text-decoration: none;
  color: #888888;
}
.navbar .links span a:hover {
  color: #d3dbdb;
}
.navbar .links span .dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  left: -50%;
  top: 2rem;
  width: max-content;
  max-height: 0;
  background-color: #f2fcfb;
  transition: max-height 3s linear;
}
.navbar .links span .dropdown a {
  padding: 10px 20px;
}
.navbar .links span .visible {
  max-height: 1000px;
  border: 0.5px solid #d3dbdb;
  transition: max-height 5s linear;
}

.sectionContainerPadded {
  width: 100%;
  padding: 0 3.5em;
}

.buttonMediumBlack {
  width: max-content;
  height: max-content;
  padding: 20px 40px;
  border: 0;
  background-color: #383838;
  cursor: pointer;
  border-radius: 3px;
}
.buttonMediumBlack:hover {
  filter: brightness(1.3);
}

.footer {
  width: 100%;
}
.footer section {
  width: 100%;
  height: 231px;
  border-bottom: 5px solid rgba(136, 136, 136, 0.1);
}
.footer main {
  width: 100%;
  height: 180px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}
.footer main h1 {
  font-size: 12.88px;
}

.linkList {
  position: fixed;
  top: 25%;
  right: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.linkList .image {
  width: 48px;
  height: auto;
}
.linkList .image:hover {
  filter: brightness(1.2);
}

.sectionContainerPadded:nth-child(2) {
  padding-top: 3.5em;
}
.sectionContainerPadded img {
  width: 100%;
  height: auto;
}
.sectionContainerPadded h1 {
  font-family: var(--font-luckyGuy);
  text-align: center;
  color: #000000;
  font-style: normal;
  font-size: 32px;
  margin-bottom: 10px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-transform: initial;
  margin: 17px 0;
}

.pinkBox {
  width: 100%;
  height: 439.375px;
  background-color: #e97676;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.pinkBox .paragraph {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 33px;
  font-size: 1.2em;
  color: #f2fcfb;
}
.pinkBox .LocationAndInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  font-size: 1.2em;
  gap: 10px;
}
.pinkBox .LocationAndInfo a {
  color: #055a8b;
  font-weight: bold;
  text-decoration-color: #da4444;
}
.pinkBox .Scocials {
  display: flex;
  gap: 15px;
}
.pinkBox .Scocials img {
  max-width: 21px;
  margin-bottom: 68px;
  cursor: pointer;
}
.pinkBox .Scocials img:hover {
  filter: brightness(50);
}

.dontateContainer {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
}
.dontateContainer section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.dontateContainer section:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.dontateContainer section:nth-child(1) a {
  color: #24678d;
  font-size: 24px;
  text-decoration-color: rgba(36, 103, 141, 0.1);
}
.dontateContainer section:nth-child(1) p {
  text-align: center;
  color: #3a5361;
  font-weight: 700;
  font-size: 16.8px;
}
.dontateContainer section:nth-child(1) ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  font-weight: 700;
  font-size: 16.8px;
  color: #888888;
}
.dontateContainer section:nth-child(1) button a {
  color: #f2fcfb;
  font-size: 12.88px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  font-weight: 400;
}
.dontateContainer section:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.dontateContainer section:nth-child(2) a {
  color: #da4444;
  font-size: 24px;
  font-weight: 700;
}

.headdingANimals {
  letter-spacing: 1px;
}

.blueSectionEnd {
  width: 100%;
  background-color: #1db2b6;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 47px;
}
.blueSectionEnd a {
  color: #da4444;
}
.blueSectionEnd button {
  background-color: #f2fcfb;
}
.blueSectionEnd button * {
  color: #000;
  text-decoration: none;
}
.blueSectionEnd .p {
  color: #f2fcfb;
}
.blueSectionEnd h3, .blueSectionEnd .follow {
  font-size: 18px;
}

.aboutBanner {
  width: 100%;
  height: 400px;
  background-image: url("/Animal-Picture-Temp/dog-brown.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
}
.aboutBanner .donateButton {
  margin-top: 169px;
  margin-left: 50px;
}

.missionStatement h2 {
  font-family: var(--font-luckyGuy) !important;
  font-size: 32px;
  letter-spacing: 1px;
}
.missionStatement p {
  color: #383838;
  font-weight: bold;
}

.infoSection {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
.infoSection .infoSectionText {
  color: #383838;
}
.infoSection .img {
  float: right;
  width: 100px;
}

.aboutSectionText {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 67px;
}

.keepContainer {
  padding-top: 100px;
}

.bannerAnimalsPage {
  width: 100%;
  height: 550px;
  background-image: url("/basic-img/racoon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.bannerAnimalsPage h6 {
  font-size: 30px;
  margin-left: 30px;
  font-family: var(--font-luckyGuy);
  letter-spacing: 1px;
}

.videos {
  padding: 10px;
}
.videos .video {
  cursor: pointer;
}

.videoPlayer {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
  display: flex;
  justify-content: flex-end;
}
.videoPlayer .close {
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.videoPlayer video {
  position: relative;
  width: 100%;
  height: 100%;
}

.adoptionSection1 .bannerAdoptionInfoPage {
  width: 100%;
  height: 500px;
  background-color: pink;
  background-image: url(/Animal-Picture-Temp/Dog-adoption-banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.adoptionSection1 h1 {
  font-family: var(--font-luckyGuy);
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
}

.adoption {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.adoptionApplication {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.adoptionApplication .adoptionForm {
  width: 100%;
  height: 60rem;
}

.sectionDivider {
  border-bottom: 1px solid #d3dbdb;
}