


@use "../variables/padding" as *;



.banner{
    width: 100%;
    padding: $sectionPadding;

        img{
            width: 100%;
            height: auto;
        }
        h1{
            font-family: 'Luckiest Guy';
            text-align: center;
            color: #000000;
            font-weight: 400;
            font-style: normal;
            font-size: 32px;
            margin-bottom: 10px;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            text-transform: initial;
            margin: 17px 0;
        }
}






