


@use "../variables/padding" as *;
@use "../variables/colors" as *;
@use "../variables/fontSize" as *;
@use "../variables/gap" as *;
@use "../variables/fonts" as *;


.sectionContainerPadded{
    &:nth-child(2){
        padding-top: $sectionPadding;
    }
        img{
            width: 100%;
            height: auto;
        }
        h1{
            font-family: $luckyGuy;//'__Luckiest_Guy_6d9c92'
            text-align: center;
            color: #000000;
            font-style: normal;
            font-size: 32px;
            margin-bottom: 10px;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            text-transform: initial;
            margin: 17px 0;
        }
}


.pinkBox{
    width: 100%;
    height: 439.375px;
    background-color: $pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 $pinkBoxPadding;

        .paragraph{
            width: 100%;
            padding: $pinkBoxPadding 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: $gap1Medium;
            font-size: $medium1;
            color: $white;
        }
        .LocationAndInfo{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-items: center;
            font-size: $medium1;
            gap: $gap1Small;

                a{
                    color: $blue;
                    font-weight: bold;
                    text-decoration-color: $red;
                }
        }
        .Scocials{
            display: flex;
            gap: $gap2Small;
            img{
                max-width: 21px;
                margin-bottom: 68px;
                cursor: pointer;
    
                    &:hover{
                        filter: brightness(50);
                    }
            }
        }
}


.dontateContainer{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;

        section{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 $sectionPaddingSmall1;

                &:nth-child(1){
                    background-color: orange;
                    display: flex;
                    flex-direction: column;
                    gap: 50px;

                        a{
                            color: $blue2;
                            font-size: 24px;
                            text-decoration-color: rgba($blue2, 0.1);
                        }
                        p{
                            text-align: center;
                            color: $darkBlue1;
                            font-weight: 700;
                            font-size: 16.8px;
                        }
                        ul{
                            display: flex;
                            flex-direction: column;
                            gap: 30px;
                            list-style-type: none;
                            font-weight: 700;
                            font-size: 16.8px;
                            color: $grey;
                        }
                }
                &:nth-child(2){
                    background-color: olive;
                }
        }
}



