

//main
$sectionPadding: 3.5em;
$sectionPaddingSmall1: 20px;

//small
$linePadding: 17px;
$pinkBoxPadding: 10px;
$navbarYPadding: 26px;

//medium
$mediumPadding1: 50px;


//buttonPaddings
$buttonPaddingmedium1: 40px;
$buttonPaddingmedium2: 20px;

